* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

/******************************************************* 
            HEADER AND NAVIGATION STYLES 
***********************************************************/

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  background: #000000;
  padding: 0;
  margin: 0;
  color: white;
  overflow: hidden;
  text-align: right;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.menu-icon {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 1em 1.5em;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  .logo {
    position: fixed;
    top: 0;
    font-size: 1.1em;
    margin-top: 1.3em;
  }

  nav ul {
    max-height: 0px;
    background: #000000;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 1em 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
    background: #000000;
  }
}
/******************************************************* 
              FOOTER STYLES 
  ***********************************************************/

footer {
  height: 10vh;
  background: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/******************************************************* 
            SIGN UP PAGE STYLES 
***********************************************************/

#signup-main {
  height: 90vh;
  background-color: #fefefe;
}

#signup-section {
  padding-top: 5em;
}

#signup-section form {
  padding-top: 2em;
  background: rgba(0, 0, 0, 0.5);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
}

#signup-section form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  font-size: 1.2em;
  border-bottom: 4px solid rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.7);
}

#signup-section form input::placeholder {
  color: rgba(0, 0, 0, 0.9);
}

#signup-section form button {
  padding: 0.7em;
  width: 74%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#signup-section form button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.9);
}

#signup-section a {
  color: white;
}

#signup-section p,
#signup-section h3 {
  margin-bottom: 1em;
}

#signup-section h3 {
  color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 769px) {
  #signup-main {
    overflow-x: auto;
  }
  #signup-section form {
    width: 90%;
    margin-bottom: 1em;
  }
  #signup-section form input {
    font-size: 1.2em;
    text-align: center;
  }
  #signup-section form button {
    padding: 0.5em;
    width: 76%;
  }
}

/******************************************************* 
            SIGN IN PAGE STYLES 
***********************************************************/
#signin-main {
  height: 90vh;
  background-color: #fefefe;
}
#signin-section {
  padding-top: 7em;
}
#signin-section form {
  padding-top: 2em;
  background: rgba(0, 0, 0, 0.5);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
}

#signin-section form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  font-size: 1.2em;
  border-bottom: 4px solid rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.7);
}

#signin-section form input::placeholder {
  color: rgba(0, 0, 0, 0.9);
}

#signin-section form button {
  padding: 0.7em;
  width: 74%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#signin-section form button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
}

#signin-section a {
  color: white;
}

#signin-section p,
#signin-section h3 {
  margin-bottom: 1em;
}

#signin-section h3 {
  color: #000000;
}

@media (max-width: 769px) {
  #signin-section form {
    width: 90%;
  }
  #signin-section form input {
    font-size: 1.2em;
    text-align: center;
  }
  #signin-section form button {
    padding: 0.5em;
    width: 76%;
  }
}

/******************************************************* 
            TRANSACTION PAGE STYLES 
***********************************************************/
#transaction-main {
  height: 90vh;
  background-color: #fefefe;
}

#transaction-section {
  padding-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}
#transaction-section > h3 {
  text-align: right;
  padding-right: 0.5em;
}

#transaction-section > h1 {
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 1em;
}
#transaction-table {
  overflow: auto;
  height: 60vh;
  width: 100%;
}

.transaction-table {
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
  table-layout: fixed;
  color: #909090;
}

table,
th,
td {
  text-align: center;
}

.transaction-table th {
  padding: 1em;
  background: rgba(0, 0, 0, 0.7);
  color: #eee;
  table-layout: fixed;
  width: 200px;
}
.transaction-table td {
  width: 214px;
  padding: 0.5em;
  border: 1px solid #00000063;
  color: #eee;
}
.transaction-table tr {
  display: block;
  width: 100%;
}
.transaction-table tbody {
  display: block;
  overflow: auto;
  height: 40vh;
  width: 100%;
}

@media (max-width: 769px) {
  #transaction-main {
    height: 90vh;
    overflow: auto;
  }

  #transaction-section > h1 {
    font-size: 1.6em;
  }

  #transaction-section > h3 {
    margin-bottom: 0.5em;
  }
  .transaction-table th {
    font-size: 0.93em;
  }
}

/******************************************************* 
            DASHBOARD PAGE STYLES 
***********************************************************/
#dashboard-main {
  height: 90vh;
}

#dashboard-section {
  padding-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

#profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#photo {
  height: 50%;
  flex-basis: 16%;
  background: #fff;
  /* border: 1px solid; */
}

#photo p {
  font-size: 1.8em;
  text-align: center;
}

.details {
  border: 1px solid;
  border-left: 7px solid;
  flex-basis: 70%;
  margin-bottom: 1em;
}

.details article {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}

.details p {
  font-size: 1.6em;
  margin-bottom: 0.5em;
  padding: 0.2em;
}
.container {
  text-align: center;
}

.card-img {
  object-fit: contain;
  height: 50%;
}

.card-img > img {
  height: 50%;
  width: 100%;
}

#photo,
.details {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

#account button {
  display: block;
  margin: 3em auto;
  padding: 1em;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 20%;
  border-radius: 4px;
  font-weight: bolder;
  outline: none;
  transition: 0.8s;
}

#account button:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

#account a {
  text-decoration: none;
}

#account-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 1s;
}

#account-modal:target {
  opacity: 1;
  visibility: visible;
}

#account-modal:target .account-modal-content {
  opacity: 1;
  visibility: visible;
}

#account-form {
  position: relative;
  margin-top: 5em;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
  width: 50vw;
  background: #f4f7f8;
  padding: 1em;
  text-align: center;
}

#account-form button {
  margin-top: 1em;
  background: background: rgba(0, 0, 0, 0.1);
  color:  rgba(0, 0, 0, 0.5);
  padding: 0.5em 0 0.5em 0;
  width: 30%;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.6s;
  border-radius: 4px;
}

#account-form button:hover {
  background:  rgba(0, 0, 0, 0.7);
  color: white;
}

.fields input {
  display: block;
  padding: 1em;
  width: 70%;
  margin: 5px auto;
  border: none;
  outline: none;
  border-left: 3px solid;
  background: rgba(0, 0, 0, 0.1);
}

.cancel{
  color: red !important;
  background: rgba(248, 146, 146, 0.4) !important;
  transition: 0.7s;
}

.cancel:hover {
  color: white !important;
  background: rgb(255, 71, 71) !important;
}


@media (max-width: 769px) {
  #dashboard-main {
    height: 90vh;
    overflow: auto;
  }

  #profile {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #photo p {
    font-size: 1.7em;
  }

  .details {
    width: 100%;
  }

  .details p {
    font-size: 1.5em;
  }

  #photo {
    margin: 0;
    width: 60%;
    margin-bottom: 3em;
  }

  #account  button {
    width: auto;
  }

  #account-form{
    width:95%;
  }

  #account-form button {
    width:70%;
  }
}
