* {
  margin: 0;
  padding: 0;
}



@font-face {
    font-family: 'sofiapro-light';
    src: url('./font/sofiapro-light-webfont.woff2') format('woff2'),
         url('./font/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}


body {
  font-family: 'sofiapro-light', sans-serif;
  /* letter-spacing: -1px; */
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px teal;
  -webkit-box-shadow: inset 0 0 6px teal;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px teal;
  -webkit-box-shadow: inset 0 0 6px teal;
}

/******************************************************* 
            HEADER AND NAVIGATION STYLES 
***********************************************************/

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  font-weight: bold;
  color: teal;
  font-size: 1.5em;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  background: white;
  padding: 0;
  margin: 0;
  color: teal;
  overflow: hidden;
  text-align: right;
  transition: 1s;
  box-shadow: 3px 15px 30px 1px #80808063;
}

nav ul li {
  display: inline-block;
  padding: 1em;
  transition: .7s;
}

nav ul li a {
  text-decoration: none;
  color: teal;
  font-size: 1.2em;
}


.menu-icon {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 1em 1.5em;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  .logo {
    position: fixed;
    top: 0;
    font-size: 1.1em;
    margin-top: 1.3em;
  }

  nav ul {
    max-height: 0px;
    background: white;
  }

  .showing {
    max-height: 20em;
    background:teal;
  }
  nav ul li a{
color:white;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 1em 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
    background: white;
  }
}
/******************************************************* 
              FOOTER STYLES 
  ***********************************************************/

footer {
  height: 10vh;
  background: white;
  color: teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/******************************************************* 
            SIGN UP PAGE STYLES 
***********************************************************/

#signup-main {
  height: 90vh;
  background-color: #dfe0e2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#signup-section {
  padding-top: 5em;
}

#signup-section form {
  padding-top: 2em;
  background: rgba(0,0,0,0.1);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
}

#signup-section form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  font-size: 1.2em;
  border-left: 4px solid teal;
  color: teal;
  background:white;
}

#signup-section form input::placeholder {
  color: #0080809c;
}

#signup-section form button {
  padding: 0.7em;
  width: 74%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: white;
  background: #0080809c;
  border: none;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#signup-section form button:hover {
  color: white;
  background: teal;
}

#signup-section a {
  color: white;
}

#signup-section p,
#signup-section h3 {
  margin-bottom: 1em;
}

#signup-section h3 {
  color: teal;
}

@media (max-width: 769px) {
  #signup-main {
    overflow-x: auto;
  }
  #signup-section form {
    width: 90%;
    margin-bottom: 1em;
  }
  #signup-section form input {
    font-size: 1.2em;
    text-align: center;
  }
  #signup-section form button {
    padding: 0.5em;
    width: 76%;
  }
}

/******************************************************* 
            SIGN IN PAGE STYLES 
***********************************************************/
#signin-main {
  height: 90vh;
  background-color: #dfe0e2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#signin-section {
  padding-top: 7em;
}
#signin-section form {
  padding-top: 2em;
  background: rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
}

#signin-section form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  font-size: 1.2em;
  border-left: 4px solid teal;
  color: #0080809c;
}

#signin-section form input::placeholder {
  color: #0080809c;
}

#signin-section form button {
  padding: 0.7em;
  width: 74%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: white;
  background: #0080809c;
  border: none;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#signin-section form button:hover {
  color: white;
  background: teal;
}

#signin-section a {
  color: white;
}

#signin-section p,
#signin-section h3 {
  margin-bottom: 1em;
}

#signin-section h3 {
  color: teal;
}

@media (max-width: 769px) {
  #signin-section form {
    width: 90%;
  }
  #signin-section form input {
    font-size: 1.2em;
    text-align: center;
  }
  #signin-section form button {
    padding: 0.5em;
    width: 76%;
  }
}

/******************************************************* 
            TRANSACTION PAGE STYLES 
***********************************************************/
#transaction-main {
  height: 90vh;
  background-color: #dfe0e2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#transaction-section {
  padding-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}
#transaction-section > h3 {
  text-align: right;
  padding-right: 0.5em;
  color:teal;
}

#transaction-section > h1 {
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 1em;
  color:teal;
}
#transaction-table {
  overflow: auto;
  height: 60vh;
  width: 100%;
}

.transaction-table {
  background: #ffffffc2;
  margin-bottom: 1em;
  table-layout: fixed;
  color: #909090;
}

table,
th,
td {
  text-align: center;
}

.transaction-table th {
  padding: 1em;
  background: teal;
  color: #eee;
  table-layout: fixed;
  width: 200px;
}
.transaction-table td {
  width: 214px;
  padding: 0.5em;
  border-bottom: 2px solid #dfe0e2;
  color: teal;
}
.transaction-table tr {
  display: block;
  width: 100%;
}
.transaction-table tbody {
  display: block;
  overflow: auto;
  height: 40vh;
  width: 100%;
}
.credit td {
  color: #008800;
}
.debit td {
  color: red;
}

.transaction-table td button {
  width: 60%;
  background: rgba(0, 0, 0, 0.1);
  color: teal;
  border: 2px solid teal;
  cursor: pointer;
}
.transaction-table td button:hover {
  background: teal;
  color: white;
}

@media (max-width: 769px) {
  #transaction-main {
    height: 90vh;
    overflow: auto;
  }

  #transaction-section > h1 {
    font-size: 1.6em;
  }

  #transaction-section > h3 {
    margin-bottom: 0.5em;
  }
  .transaction-table th {
    font-size: 0.93em;
  }

  .transaction-table td button {
    width: 100%;
  }
}

/******************************************************* 
            DASHBOARD PAGE STYLES 
***********************************************************/
#dashboard-main {
  height: 90vh;
  background-color: #dfe0e2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#dashboard-section {
  padding-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

#profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#photo {
  height: 50%;
  flex-basis: 16%;
  background: #fff;
  /* border: 1px solid; */
}

#photo p {
  font-size: 1.8em;
  text-align: center;
}
#photo{
  border:1px solid white;
}

.details {
  flex-basis: 70%;
  margin-bottom: 1em;
}

.details article {
  border-bottom: 3px solid #dfe0e2;
  display: flex;
  justify-content: space-between;
}

.details p {
  margin-top: 0.5em;
  font-size: 1.6em;
  margin-bottom: 0.5em;
  padding: 0.2em;
}
.container {
  text-align: center;
  background: #ffffffc2;
  color: teal;
}

.card-img {
  object-fit: contain;
  height: 50%;
}

.card-img > img {
  height: 50%;
  width: 100%;
}

#photo,
.details {
  background: #ffffffc2;
  color: teal;
}

#account button {
  display: block;
  margin: 3em auto;
  padding: 1em;
  border: none;
  background: #ffffffc2;
  color: teal;
  border: 2px solid teal;
  cursor: pointer;
  width: 20%;
  border-radius: 4px;
  font-weight: bolder;
  outline: none;
  transition: 0.8s;
}

#account button:hover {
  background: teal;
  color: white;
}

#account a {
  text-decoration: none;
}

#account-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 1s;
}

#account-modal:target {
  opacity: 1;
  visibility: visible;
}

#account-modal:target .account-modal-content {
  opacity: 1;
  visibility: visible;
}

#account-form {
  position: relative;
  margin-top: 5em;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
  width: 50vw;
  background: #f4f7f8;
  padding: 1em;
  text-align: center;
}

#account-form button {
  margin-top: 1em;
  background: rgba(0, 0, 0, 0.1);
  color: teal;
  padding: 0.5em 0 0.5em 0;
  width: 30%;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.6s;
  border-radius: 4px;
}

#account-form button:hover {
  background: teal;
  color: white;
}

.fields input {
  display: block;
  padding: 1em;
  width: 70%;
  margin: 5px auto;
  border: none;
  outline: none;
  color:teal;
  border-left: 3px solid teal;
  background: rgba(0, 0, 0, 0.1);
}

.cancel {
  color: red !important;
  background: rgba(248, 146, 146, 0.4) !important;
  transition: 0.7s;
}

.cancel:hover {
  color: white !important;
  background: rgb(255, 71, 71) !important;
}

@media (max-width: 769px) {
  #dashboard-main {
    height: 90vh;
    overflow: auto;
  }

  #profile {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #photo p {
    font-size: 1.4em;
  }

  .details {
    width: 100%;
  }

  .details p {
    font-size: 1.1em;
  }

  #photo {
    margin: 0;
    width: 60%;
    margin-bottom: 3em;
  }

  #account button {
    width: auto;
  }

  #account-form {
    width: 95%;
  }
  #account-modal {
    width: 98%;
  }

  #account-form button {
    width: 70%;
  }
}

/******************************************************* 
           ADMIN DASHBOARD PAGE STYLES 
***********************************************************/
#admin-dashboard-main {
  height: 90vh;
  overflow: auto;
  background-color: #dfe0e2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#admin-dashboard-section {
  padding-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

#admin-dashboard-section h1 {
  font-size: 2em;
  text-align: center;
}
.account-details {
  width: 60vw;
  margin: 0.4em auto;
  background: #ffffffc2;
  color: teal;
  font-weight: bolder;
  padding: 0.7em;
  border-radius: 0.5em;
}

.account-details article {
  padding:0.4em;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.3px solid;
}

article.buttons {
  border-bottom: 0px;
}

.account-details a {
  text-decoration: none;
  width: 30%;
}
.account-details a button {
  width: 100%;
  padding: 0.6em 1.3em 0.6em 1.3em;
}

.account-details button {
  margin-top: 1em;
  background: rgba(0, 0, 0, 0.1);
  color: teal;
  padding: 0.5em 0 0.5em 0;
  width: 30%;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.6s;
  border-radius: 4px;
}

.account-details button:hover {
  background: teal;
  color: white;
}

@media (max-width: 769px) {
  #admin-dashboard-main {
    height: 90vh;
    overflow: auto;
  }

  .account-details {
    width: 80vw;
    font-weight: 500;
  }

  .account-details button {
    font-size: 0.9em;
    width: 43%;
    padding: 0.7em 0.3em 0.7em 0.3em;
  }

  .account-details a {
    width: 43%;
  }

  .account-details a button {
    padding: 0.7em 1em 0.7em 1em;
  }
}

/******************************************************* 
           ACCOUNTS PAGE STYLES 
***********************************************************/
#accounts-main {
  height: 90vh;
  overflow: auto;
  background-color: #dfe0e2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#accounts-section {
  padding-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

.account-record {
  height: 70vh;
  border-radius: 0.7em;
  background: #ffffffc2;
  color: teal;
  display: flex;
}
.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 50%;
}

.actions h1,
.actions button {
  margin: 0 auto;
  font-size: 2em;
}

.actions button {
  margin-top: 1em;
  background: rgba(0, 0, 0, 0.1);
  color: teal;
  padding: 0.5em 0 0.5em 0;
  width: 30%;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.6s;
  border-radius: 4px;
}

.actions button:hover {
  background: teal;
  color: white;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.activate {
  color: green !important;
  background: rgba(71, 255, 80, 0.4) !important;
  transition: 0.7s;
}

.activate:hover {
  color: white !important;
  background: rgba(0, 128, 0, 0.7) !important;
}

.record-details {
  flex-basis: 50%;
}

.record-details img {
  display: block;
  margin: 10px auto;
  border-radius: 100%;
}
figure{
  margin-bottom:3em;
}

.record-details article {
  display: flex;
  justify-content: space-between;
  font-size: 1.8em;
  margin: 0.4em;
}
.actions a {
  display: block;
  margin: 0 auto;
  width: 30%;
}
.actions a button {
  width: 100%;
}
#transaction-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 1s;
}

#transaction-modal:target {
  opacity: 1;
  visibility: visible;
}

#transaction-modal:target .transaction-modal-content {
  opacity: 1;
  visibility: visible;
}

#transaction-form {
  position: relative;
  margin-top: 5em;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
  width: 50vw;
  background: #f4f7f8;
  padding: 1em;
  text-align: center;
}

#transaction-form button {
  margin-top: 1em;
  background: rgba(0, 0, 0, 0.1);
  color: teal;
  padding: 0.5em 0 0.5em 0;
  width: 30%;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.6s;
  border-radius: 4px;
}

#transaction-form button:hover {
  background: teal;
  color: white;
}

.fields input {
  display: block;
  padding: 1em;
  width: 70%;
  margin: 5px auto;
  border: none;
  outline: none;
  border-left: 3px solid teal;
  background: #ffffffc2;
  color:teal;
}

@media (max-width: 769px) {
  #accounts-main {
    height: 90vh;
    overflow: auto;
  }
  .account-record {
    flex-direction: column;
    height: auto;
    margin-bottom: 1em;
  }
  .record-details article {
    font-size: 1.2em;
  }

  .actions h1 {
    margin-top: 1em;
  }
  .actions button {
    width: 70%;
    margin-bottom: 1em;
  }

  .actions a {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  .actions a button {
    width: 100%;
  }

  .fields input {
    width: 80%;
  }

  #transaction-form {
    width: 95%;
  }
  #transaction-modal {
    width: 99%;
  }

  #transaction-form button {
    width: 70%;
  }
}

/******************************************************* 
          CREATE USER PAGE STYLES 
***********************************************************/
#create-user-main {
  height: 90vh;
  overflow: auto;
  background-color: #dfe0e2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#create-user-section {
  padding-top: 8.5em;
  margin-left: 1em;
  margin-right: 1em;
}

#create-user-section h1 {
  text-align: center;
  font-size: 1.8em;
}

.user-fields input {
  display: block;
  padding: 1em;
  width: 50%;
  margin: 1em auto;
  border: none;
  outline: none;
  color:teal;
  border-left: 3px solid teal;
  background: #ffffffc2;
}

#user-form button {
  background: teal;
  color: white;
  padding: 0.5em 0 0.5em 0;
  width: 30%;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.6s;
  border-radius: 4px;
  display: block;
  margin: 1em auto;
}

#user-form button:hover {
  background: rgba(0, 0, 0, 0.1);
  color: teal;
}

@media (max-width: 769px) {
  #create-user-main {
    height: 90vh;
    overflow: auto;
  }

  #create-user-section h1 {
    font-size: 1.4em;
  }

  .user-fields input {
    width: 80%;
  }

  #user-form button {
    width: 70%;
  }
}

/******************************************************* 
            LANDING PAGE STYLES 
***********************************************************/
#landing-nav {
  z-index: 99;
}
#hero {
  height: 90vh;
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero::after {
  content: "";
  background: url("../img/savings.svg");
  background-size: 100% 100%;
  background-color: #dfe0e2;
  background-repeat: no-repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#hero button {
  width: 20%;
  color: white;
  font-size: 1em;
  background: rgba(238, 238, 238, 0.6);
  padding: 1em;
  width: 100%;
  border: none;
  color: teal;
  cursor: pointer;
  font-weight: bolder;
  transition: 0.8s;
  border-radius: 4px;
}

#hero button:hover {
  background: teal;
  color: white;
}

#hero h1 {
  font-size: 3.2em;
  margin-bottom: 0.5em;
  color:teal;
}

#hero a {
  padding: 0;
  text-decoration: none;
  display: block;
  width: 30%;
}

@media (max-width: 769px) {
  #hero {
    font-size: 1.5em;
    padding: 0.5em;
    height: 88vh;
  }

  #hero h1 {
    font-size: 1.1em;
  }
  #hero a {
    width: 70%;
  }
  #hero button {
    padding: 0.5em;
    width: 100%;
    font-size: 0.8em;
  }
}

/******************************************************* 
            RESET PASSWORD PAGE STYLES 
***********************************************************/
#reset1-main,
#reset2-main {
  height: 90vh;
  background-color: #dfe0e2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#reset1-section {
  padding-top: 7em;
}
#reset1-section form {
  padding-top: 2em;
  background: rgba(0,0,0,0.1);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
}

#reset1-section form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  font-size: 1.2em;
  background:#ffffffc2;
  border-left: 4px solid teal;
  color: teal;
}

#reset1-section form input::placeholder {
  color: #0080809c;
}

#reset1-section form button {
  padding: 0.7em;
  width: 74%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: white;
  background: #0080809c;
  border: none;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#reset1-section form button:hover {
  color: white;
  background: teal;
}

#reset1-section a {
  color: white;
}

#reset1-section p,
#reset1-section h3 {
  margin-bottom: 1em;
}

#reset1-section p {
  padding: 0 4.9em;
  margin-top: 2em;
  color: white;
  font-size: 0.85em;
  padding-bottom: 1.4em;
}

#reset1-section h2 {
  text-align: center;
  font-size: 2em;
  color: white;
}

#reset1-section h3 {
  color: teal;
}

.reset2-header {
  padding-bottom: 2em;
}

@media (max-width: 769px) {
  #reset1-section form {
    width: 90%;
  }
  #reset1-section form input {
    font-size: 1em;
    text-align: center;
  }
  #reset1-section form button {
    padding: 0.5em;
    width: 76%;
  }

  #reset1-section p {
    padding: 0 2.9em;
    padding-bottom: 1em;
  }
}

/******************************************************* 
        SITE OPTIONS PAGE STYLES 
***********************************************************/
#site-options {
  padding-top: 7em;
  
}

#option-article {
  height: 50vh;
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#option-article h1{
  font-size:2.5em;
  color:teal;
  margin-bottom:.6em;
}

#option-article li{
  font-size:1.5em;
  color:teal;
  list-style-type:none;
  padding:.4em;
}

#option-article li a{
    color: inherit;
    outline: none;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-size: 100% .6em;
    background-repeat: no-repeat;
    background-position: left 0 bottom -40%;
}